.male {
  background-color: rgba(teal, 0.1);
  color: teal;
  font-weight: 500;
}

.female {
  background-color: rgba(red, 0.1);
  color: red;
  font-weight: 500;
}

.card {
  border-radius: 0.5rem !important;
}
